.popup_form_overlay{
    display: flex;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    overflow-y: scroll;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}
.popup_form_overlay.active{
    opacity: 1;
    pointer-events: all;
}
.popup_form_wrapper{
    display: block;
    color: white;
    font-weight: 500;
    
    max-width: 900px;
    height: fit-content;
    margin: 50px 50px;
    background-color: #040613;
    border-radius: 10px;

    padding-top: 35px;
    padding-bottom: 40px;
    transform: scale(0.5);
    transition: 0.5s all;
}
.popup_form_wrapper.active{
    transform: scale(1);
}
.popup_form_wrapper .pic1{
    position: absolute;
    width: 160px;
    top: 0;
    left: 50%;
    z-index: 0;
    margin-left: -80px;
}
.popup_form_wrapper .pic2{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 200px;
}

.Mfeedback, footer{
    padding: 0px 5px;
    position: relative;
    z-index: 1;
}

.Mfeedback{
    padding-bottom: 60px;
}
.Mfeedback .email a{
    color: white;
    font-size: 19px;
    font-weight: 600;
}
.Mfeedback .email a:hover{
    color: white;
}
.Mfeedback h2{
    margin-top: 40px;
    font-size: 23px;
    font-weight: 700;
}
.Mfeedback h3{
    font-weight: 700;
    font-size: 20px;
}
.popup_form_wrapper .closeBtn{
    display: block;
    position: absolute;;
    right: 15px;
    top:15px;
}
.Mfeedback p{
    font-size: 14px;
    opacity: 0.7;

    margin-top: 20px;
    margin-bottom: 25px;
}
.Mfeedback .icon{
    margin-right: 10px;
    width: 23px;
}

.Mfeedback .MajaxForm{
    margin-top: 30px;
}
.Mfeedback .MajaxForm textarea{
    height: 150px;
}
.Mfeedback .Mform_input input, textarea{
    background: transparent;
    outline: none;
    width: 100%;
    border: 1px solid rgba(256,256,256,.3);
    border-radius: 5px;

    padding: 18px;
    margin-bottom: 7px;

    font-size: 14px;
    font-weight: 500;
    color: white;

    transition: all 0.2s ease;
}
.Mfeedback .Mform_input input:focus-visible, textarea:focus-visible{
    border-color: orangered;
    box-shadow: 0 0 10px orangered;
}
.Mfeedback .Mform_input input::placeholder, textarea::placeholder{
    color: white;
}
.Mfeedback .MajaxForm a{
    text-decoration: none;
    color: rgb(236, 76, 17);
    font-size: 12px;
}
.Mfeedback .MajaxForm span{
    color: rgb(236, 76, 17);
}
.Mfeedback .MajaxForm .Mcheckbox_form input{
    width: 20px;
}
.Mfeedback .MajaxForm button{
    font-size: 12px;
    width: 100%;
    height: 55px;
    border-radius: 5px;
    border: 2px solid orangered;
    outline: none;
    background-color: orangered;
    color: white;
    font-weight: 500;

    margin-top: 10px;

    transition: all 0.3s ease;
}
.Mfeedback .MajaxForm button:hover{
    background-color: transparent;
}

.Mcheckbox_form{
    position: relative;
    margin-bottom: 0px;
}
.Mcheckbox_form input{
    margin-top: 5px;
    position: absolute;
    opacity: 0;
    z-index: 3;
}
.Mcheckbox_label{
    padding-left: 35px;

    font-size: 12px;
    font-weight: 400;
}
.Mcheckbox_label::before{
    content: "";
    display: block;
    width: 24px;
    height: 24px;

    border: 2px solid rgb(146, 138, 138);
    border-radius: 5px;
    background-color: transparent;

    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;

    transition: all 0.2s ease;
}
.Mcheckbox_label::after{
    content: "";
    display: block;
    width: 24px;
    height: 24px;

    background: url("../img/checkbox-icon.png") no-repeat;
    background-size: 13px 13px;
    opacity: 0;

    position: absolute;
    top: 6px;
    left: 6px;
    z-index: 2;

    transition: all 0.3s ease;
}
.Mcheckbox_form input:checked + .Mcheckbox_label::before{
    border-color: orangered;
    box-shadow: 0 0 10px orangered;
}
.Mcheckbox_form input:checked + .Mcheckbox_label::after{
    opacity: 1;
}


/* предупреждения валидации */

.Mfeedback .popupFormValidation{
    display: block;
    color: black;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-top:-80px;
    margin-left: 180px;
    padding: 0 5px;
    z-index: 999;
}

@media (min-width:640px) {
    .popup_form_wrapper{
        margin: 50px auto;
    }
    .popup_form_wrapper .closeBtn{
        font-size:25px;
    }
}

@media screen and (min-width: 767px){
    .popup_form_wrapper{
        padding-left: 20px;
        padding-right: 20px;
    }
    .Mfeedback .elem {
        margin-top: 0px !important;
    }
}