
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap');
body{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
}

/*presets*/
html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
*{
    font-family:inherit;
    font-size:inherit;
    font-style:inherit;
}


    /*styles for mobile*/


/* nav-introduct styles start */

.wrapper-nav-introduct{
    background-image: url('../img/itroduct-bg.png');
}

.wrapper-nav{
    display: none;
}

.wrapper-introduct{
    padding-top: 15px;
    padding-bottom: 80px;
    color: white;
    font-size: 14px;
}
.introduct h2{
    font-size: 27px;
    font-weight: bold;
}
.introduct .item1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.introduct .item2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}
.introduct .item3{
    margin-top: 40px;
    margin-bottom: 100px;
}
.introduct button{
    width: 220px;
    height: 60px;
    border-radius: 5px;
    border: 2px solid orangered;
    outline: none;
    background-color: transparent;
    color: white;
}
.introduct button:hover{
    background-color: orangered;
}
.introduct p{
    opacity: 0.8;
}
.introduct h3{
    font-size: 27px;
    font-weight: bold;
}
.introduct span{
    font-size: 55px;
    font-weight: bold;
}
.introduct .item{
    border-left: 3px solid orangered;
    margin-bottom: 25px;
}
.introduct .block{
    margin-left: 7px;
}
.introduct .cup-block{
    position: relative;
}
.introduct .img-cup{
    position: absolute;
    top: -30px;
    left: 60px;
}
.introduct .img-cup-header{
    position: absolute;
    top: -37px;
}
.introduct .h3-to-hide{
    opacity: 0;
}
.introduct .block p{
    line-height: 15px;
}

/* nav-introduct styles end */


/* competensions styles start */

.competensions{
    padding-top: 80px;
    padding-bottom: 70px;
    line-height: 23px;
}
.competensions h2{
    font-size: 27px;
    font-weight: bold;
}
.competensions > p{
    padding-top: 15px;
    padding-bottom: 40px;
    font-size: 18px;
}
.competensions p{
    opacity: 0.7;
}
.competensions .row {
    font-size: 16px;
}
.competensions .competension{
    text-align: center;
    margin-bottom: 15px;
}

/* competensions styles end */


/* support styles start */

.wrapper-support{
    background-image: url(../img/support-bg-mobile.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 18px;
    line-height: 23px;
    position: relative;
}
.support h2{
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 10px;
}
.support h3{
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}
.support p{
    opacity: 0.8;
}
.support .item{
    border-left: 3px solid orangered;
    margin-bottom: 25px;
    max-width: 300px;
}
.support .block2{
    margin-left: 0px;
}
.support span{
    color: orangered;
}
.support .elem{
    background-color: white;
    margin-bottom: 5px;
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    box-shadow: 0 0 20px rgba(233, 227, 227, 0.5);
    position: relative;
}
.support .block1{
    padding: 15px;
}
.support .ekspertiza{
    color: white;
}
.support .digit{
    font-size: 12px;
    font-weight: bold;
    opacity: 0.5;
}
.support .support-pic{
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.support .z-index{
    position: relative;
}
.ekspertiza h2{
    margin-bottom: 20px;
}
.ekspertiza .item{
    padding-left: 15px;
}
.support .laptop{
    width: 320px;
    position: absolute;
    left: 0px;
    bottom: -50px;
}
.support .empty-space{
    height: 320px;
    opacity: 0;
}


/* support styles end */


/* tarifs styles start */

.tarifs{
    padding-top: 95px;
}
.tarifs .orange{
    color: orangered;
    font-size: 22px;
    font-weight: bold;
}
.tarifs ul{
    padding: 0;
    margin-left: 20px;
}
.tarifs li{
    list-style-image: url(../img/tarifs-galka.png);
    margin-bottom: 10px;
}
.tarifs button{
    font-size: 13px;
    width: 100%;
    height: 55px;
    border-radius: 5px;
    border: 1.5px solid orangered;
    outline: none;
    background-color: transparent;
    color: orangered;
    margin-top: 30px;
}
.tarifs button:hover{
    background-color: orangered;
    color: white;
}
.tarifs p{
    opacity: 0.5;
}
.tarifs a{
    color: black;
    font-size: 13px;
}
.tarifs hr{
    border: 1px solid black;
    margin-top: 25px;
    margin-bottom: 15px;
}
.tarifs .row > h2{
    font-weight: bold;
}
.tarifs .row{
    padding: 15px;
}
.tarif1, .tarif2, .tarif3{
    border: 1px solid rgb(201, 190, 190);
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 30px 15px;
}



/* tarifs styles end */


/* task-time styles start */

/* task-time styles end */


/* team styles start */

/* team styles end */


    /*styles for desktop*/

@media screen and (min-width: 767px) {
    
    

    /* nav-introduct styles start */
    
    .wrapper-nav{
        display: block;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        color:white;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-top: 20px;
    }
    .navbar{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
    }
    .nav-list{
        display: flex;
        flex-wrap: wrap;
    }
    .nav-list li {
        list-style-type: none;
    }
    .nav-list a{
        text-decoration: none;
        color: inherit;
    }
    .nav-list a:visited{
        text-decoration: none;
        color: inherit;
    }
    .navbar span{
        font-size: 8px;
    }

    .introduct{
        padding-bottom: 35px;
    }
    .introduct h2{
        font-size: 52px;
    }
    .introduct .item2{
        font-size: 18px;
    }

    /* nav-introduct styles end */


    /* competensions styles start */

    .competensions{
        padding-top: 140px;
        padding-bottom: 140px;
    }
    .competensions h2{
        font-size: 42px;
    }
    .competensions .competension{
        text-align: justify;
    }

    /* competensions styles end */


    /* support styles start */

    .wrapper-support{
        background-image: url(../img/support-bg.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .support h2{
        font-size: 42px;
        margin-bottom: 50px;
    }
    .support .elem{
        max-width: 315px;
        margin-right: 5px;
    }
    .support .laptop{
        width: 500px;
        left: 0px;
        bottom: -80px;
    }
    .support .empty-space{
        height: 210px;
    }
    .support .block2{
        margin-bottom: 150px;
    }

    /* support styles end */


    /* tarifs styles start */

    .tarifs{
        padding-top: 100px;
    }

    /* tarifs styles end */


    /*  styles start */

    /*  styles end */


    /*  styles start */

    /*  styles end */
}
@media screen and (min-width: 1240px) {
    /* support styles start */

    .support .laptop{
        width: 730px;
        left: 0px;
        bottom: -115px;
    }
    .support .empty-space{
        height: 220px;
    }
    .support .block2{
        margin-bottom: 150px;
    }

    /* support styles end */

    .tarifs{
        padding-top: 150px;
    }
}