
/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v18-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-600 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v18-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v18-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v18-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v18-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v18-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v18-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* ubuntu-regular - latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ubuntu-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/ubuntu-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/ubuntu-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/ubuntu-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/ubuntu-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/ubuntu-v15-latin-regular.svg#Ubuntu') format('svg'); /* Legacy iOS */
  }
  /* ubuntu-500 - latin */
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/ubuntu-v15-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/ubuntu-v15-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/ubuntu-v15-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/ubuntu-v15-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/ubuntu-v15-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/ubuntu-v15-latin-500.svg#Ubuntu') format('svg'); /* Legacy iOS */
  }
body{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
}

/*presets*/
html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
*{
    font-family:inherit;
    font-size:inherit;
    font-style:inherit;
}


    /*styles for mobile*/


/* nav-introduct styles start */

.wrapper-nav-introduct{
    background-image: url('../img/itroduct-bg.png');
}

.wrapper-nav{
    display: none;
}

.wrapper-introduct{
    padding-top: 15px;
    padding-bottom: 80px;
    color: white;
    font-size: 14px;
}
.introduct h2{
    font-size: 27px;
    font-weight: bold;
}
.introduct .item1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.introduct .item2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}
.introduct .item3{
    margin-top: 40px;
    margin-bottom: 60px;
}
.introduct button{
    width: 220px;
    height: 60px;
    border-radius: 5px;
    border: 2px solid orangered;
    outline: none;
    background-color: transparent;
    color: white;
}
.introduct button:hover{
    background-color: orangered;
}
.introduct p{
    opacity: 0.8;
}
.introduct h3{
    font-size: 27px;
    font-weight: bold;
}
.introduct span{
    font-size: 55px;
    font-weight: bold;
}
.introduct .item{
    border-left: 3px solid orangered;
    margin-bottom: 25px;
}
.introduct .block{
    margin-left: 7px;
}
.introduct .cup-block{
    position: relative;
}
.introduct .img-cup{
    position: absolute;
    top: -30px;
    left: 60px;
}
.introduct .img-cup-header{
    position: absolute;
    top: -37px;
}
.introduct .h3-to-hide{
    opacity: 0;
}
.introduct .block p{
    line-height: 15px;
}

/* nav-introduct styles end */


/* competensions styles start */

.competensions{
    padding-top: 80px;
    padding-bottom: 70px;
}
.competensions h2{
    font-size: 27px;
    font-weight: bold;
}
.competensions > p{
    padding-top: 15px;
    padding-bottom: 40px;
    font-size: 18px;
}
.competensions p{
    opacity: 0.7;
}
.competensions .row {
    font-size: 16px;
}

/* competensions styles end */


/* support styles start */

.wrapper-support{
    background-color: greenyellow;
    font-size: 18px;
}
.support h2{
    font-size: 27px;
    font-weight: bold;
}
.support h3{
    font-size: 20px;
    font-weight: bold;
}
.support p{
    opacity: 0.8;
}
.support .item{
    border-left: 3px solid orangered;
    margin-bottom: 25px;
    max-width: 300px;
}
.support .block{
    margin-left: 0px;
}
.support span{
    color: orangered;
}
.support .elem{
    background-color: white;
}
.support .ekspertiza{
    color: white;
}
.support .digit{
    font-size: 12px;
    font-weight: bold;
    opacity: 0.5;
}
.ekspertiza h2{
    margin-bottom: 20px;
}
.ekspertiza .item{
    padding-left: 15px;
}

/* support styles end */


/* tarifs styles start */


.tarifs .orange{
    color: orangered;
    font-size: 22px;
    font-weight: bold;
}
.tarifs li{
    list-style-image: url(../img/tarifs-galka.png);
}
.tarifs button{
    width: 100%;
    height: 60px;
    border-radius: 5px;
    border: 2px solid orangered;
    outline: none;
    background-color: transparent;
    color: orangered;
}
.tarifs button:hover{
    background-color: orangered;
    color: white;
}
.tarifs p{
    opacity: 0.5;
    margin-top: 30px;
    margin-bottom: 25px;
}
.tarifs a{
    color: black;
}
.tarifs hr{
    border: 1px solid black;
    margin-top: 20px;
}
.tarifs .row > h2{
    font-weight: bold;
}



/* tarifs styles end */


/* task-time styles start */

/* task-time styles end */


/* team styles start */

/* team styles end */


    /*styles for desktop*/

@media screen and (min-width: 767px) {
    
    

    /* nav-introduct styles start */
    
    .wrapper-nav{
        display: block;
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        color:white;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-top: 20px;
    }
    .navbar{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
    }
    .nav-list{
        display: flex;
        flex-wrap: wrap;
    }
    .nav-list li {
        list-style-type: none;
    }
    .nav-list a{
        text-decoration: none;
        color: inherit;
    }
    .nav-list a:visited{
        text-decoration: none;
        color: inherit;
    }
    .navbar span{
        font-size: 8px;
    }

    .introduct{
        padding-bottom: 35px;
    }
    .introduct h2{
        font-size: 52px;
    }
    .introduct .item2{
        font-size: 18px;
    }

    /* nav-introduct styles end */


    /* competensions styles start */

    .competensions{
        padding-top: 140px;
    }
    .competensions h2{
        font-size: 42px;
    }

    /* competensions styles end */


    /* support styles start */

    .support h2{
        font-size: 42px;
    }

    /* support styles end */


    /*  styles start */

    /*  styles end */


    /*  styles start */

    /*  styles end */


    /*  styles start */

    /*  styles end */
}
